body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    display: inline-block;
    text-align: center;
    justify-content: space-around;
    border: 3px solid #d9e6f2;
    border-radius: 10px;
    background-color: #eaf4fe;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.295);
}

.card img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card .caption {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}